APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
DATABASE_URL=postgresql+psycopg://user:pass@localhost:5432/eve_tracker
SECRET_KEY=change_me
EVE_CLIENT_ID=cb3908b66f5f4266b80fa1d552704e99
EVE_CLIENT_SECRET=eat_1zt6kirEimbQRucGHdIXLjPf53Af6pVrD_2Swu2q
EVE_REDIRECT_URI=http://192.168.0.82:8080/callback
EVE_SSO_AUTHORIZE_URL=https://login.eveonline.com/v2/oauth/authorize
EVE_SSO_TOKEN_URL=https://login.eveonline.com/v2/oauth/token
EVE_ESI_BASE_URL=https://esi.evetech.net/latest
